/* Top to bottom order for styling the html document */

/* Header */
.header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    
}

.stooly-logo {
    border: 4px solid #fff;
    color: #fff;
    font-style: italic;
    font-size: 46px;
    padding: 40px 80px;
    margin-left: 50px;
}

ul {
    align-items: flex-start;
    display: flex;
    /* gap: 16px; */
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 25px;
    padding: 0;
}

.header a {
    color: #fff;
    margin: 5px 25px;
    text-decoration: none;
    

}

.header a:hover {
    border-bottom: 2px solid rgb(93, 88, 88);
    /* background-color: rgb(61, 56, 56); */

}

/* ^ Header ^  */

/* Row Container 1-4, Header Row */

.row-1-4 {
    align-items: center;
    background-color: #1F2937;
    display: flex;
    gap: 48px;  
    justify-content: center;
    padding-bottom: 76px;
}

.header-text {
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 600px;
    gap: 24px;
}

/* Custom fonts and style for header-text */

.header-text h1 {
    font-size: 48px;
    margin: 0;

}

.header-text-below {
    font-size: 22px;
    color: #e5e7eb;
}

.header-text button {
    align-self: flex-start;
    background-color: #3882f6;
    border-radius: 10px;
    border: 2px solid #fff;
    height: 40px;
    width: 125px;

}

.header-text a {
    color: #fff;
    text-decoration: none;
}

/* ^ Custom fonts and style  ^ */

/* ^ Row Container 1-4, Header Row ^ */


.header-image {
    width: 400px;
    height: auto;
}

/* Row Container 2 of 4, Product Row */

.row-2-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-row {
    display: flex;
    gap: 50px;

}

.item-column-1-4,
.item-column-2-4,
.item-column-3-4,
.item-column-4-4 {
    display: column;
    text-align: center;
}

.item-img-1,
.item-img-2,
.item-img-3,
.item-img-4 {
    border-radius: 30px;
    height: auto;
}

.item-img-1 {
    width: 170px;
}

.item-img-2 {
    width: 200px;
}

.item-img-3 {
    width: 200px;
}

.item-img-4 {
    width: 260px;
}


/* ^ Row Container 2 of 4, Product Row ^ */

/* Row Container 3 of 4, Quote Container */

.row-3-4 {
    align-items: center;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 100px 0;
}

.row-3-4 quote {
    font-size: 26px;
    font-style: italic;
}
.quote-author {
    font-size: 20px;
    font-weight: 600;
    margin-left: 500px;
}

/* ^ Row Container 3 of 4, Quote Container ^ */


/* Row Container 4 of 4, Sign Up Container */

.row-4-4 {
    display: flex;
    justify-content: center;
}

.signup-box {
    background-color: #3882f6;
    border-radius: 5px;
    display: flex;
    gap: 40px;
    margin: 80px 0;
    padding: 40px 90px;
}

.signup-text {
    color: #fff;
}

.signup-box button {
    align-self: center;
    background-color: #3882f6;
    border-radius: 10px;
    border: 2px solid #fff;
    height: 40px;
    width: 125px;
 
}

.signup-box a {
    color: #fff;
    text-decoration: none;
}


/* ^ Row Container 4 of 4, Sign Up Container ^ */


/* Footer Copyright Stooly Tech */

.footer {
    background-color: #1F2937;
    display: flex;
    padding: 25px 25px;
    justify-content: center;
}

.footer small {
    color: #fff;
    font: 16px;
}


/* ^ Footer Copyright Stooly Tech ^ */